:root {
  --border: 2px;
  --border-radius: 10px;
  --white: 250, 244, 249;
  --black: 10, 10, 25;
  --bar: 30, 43, 86;
  --fz-1: 4rem;
  --fz-2: 2.25rem;
  --fz-3: 1.625rem;
  --fz-4: 1.5rem;
  --fz-5: 1.25rem;
  --fz-6: 1.125rem;
  --transition-duration: 200ms;
  --delay-duration: 75ms;
  --transition-timing-function: ease-in-out;
}

body.light {
  --bg: 250, 244, 249;
  --bg2: 255, 207, 242;
  --fg: 105, 110, 194;
  --fg2: 45, 48, 84;
  --important: var(--fg);
}

body.dark {
  --important: 253, 114, 154;
  --bg: 45, 48, 84;
  --fg: 255, 207, 242;
  --bg2: 105, 110, 194;
  --fg2: 250, 244, 249;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: local("Poppins"),
    url(./assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}

html {
  font-family: Poppins, serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--bg));
}

.App {
  min-height: 200vh;
  position: relative;
}

.container {
  max-width: 1720px;
  padding-inline: 1rem;
  margin-inline: auto;
}
